:root {
  --cardColor: #33475a;
  --searchBtnColor: #5aa2e9;
}

.main-header {
  text-align: center;
  color: white;
  background: linear-gradient(to right, #3b6ec4, #230455);
}

.main-header h1 {
  margin: 1rem;
  font-weight: bold;
}

#search-col * {
  width: 100%;
  margin: 0.5rem 0;
}

.btn-city {
  background: gray;
  color: #111;
}
